/* IMPORTS */
/* MISCELANEOS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Smooch+Sans:wght@300;500;700&display=swap");
.img-chica3 {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-image: url("../public/img/imgchica3.jpg"); }

.img-chico1 {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-image: url("../public/img/imgchico1.jpg"); }

.img-chico2 {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-image: url("../public/img/imgchico2.jpg"); }

.img-mujer1 {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-image: url("../public/img/imgmujer1.jpg"); }

.img-hombremayor1 {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-image: url("../public/img/imghombremayor1.jpg"); }

.img-mujer2 {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-image: url("../public/img/imgmujer2.jpg"); }

.p-large {
  padding: 3rem; }

.p-medium {
  padding: 2rem; }

.p-small {
  padding: 1rem; }

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* GLOBALES */
html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  color: black; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

li a {
  text-decoration: none;
  display: inline-block; }

p {
  font-size: 15px; }

h1 {
  font-size: 30px;
  text-align: center; }

.contenedor {
  max-width: 1080px;
  margin: 0 auto; }

/* PARTIALS */
header {
  background-color: #5353c3;
  background-image: linear-gradient(to left, black, #5353c3);
  color: white; }

.nav-link {
  color: white; }

ol, ul {
  padding-left: 0; }

.navbar {
  min-height: 8vh;
  flex-direction: row;
  justify-content: space-between;
  align: center;
  gap: 2rem;
  font-size: 13px;
  padding: 0 2rem;
  flex-wrap: wrap; }

img {
  width: 100%; }

.logo {
  flex-basis: 30%; }

.menu {
  flex-basis: 40%;
  justify-content: space-between; }

.menu__item {
  border-color: #5353c3; }

.menu .menu__item .menu__link {
  font-size: 2.4em;
  padding: 1rem;
  justify-content: center; }

.logo img {
  flex-direction: row;
  justify-content: space-between;
  align: center;
  gap: 2rem;
  width: 20rem;
  padding: 3px;
  margin-bottom: -119px;
  margin-top: -32px; }

.menu a:hover {
  color: #f2c22f;
  border-bottom: 2px solid;
  transition: all 300ms ease-in-out; }

.menu {
  flex-direction: row;
  justify-content: space-between;
  align: center;
  gap: 2rem; }

.nav-item--active {
  border-bottom: 2px solid red; }

#foo2 {
  display: block;
  background-color: #5353c3;
  background-image: linear-gradient(to left, black, #5353c3);
  text-align: center;
  color: seashell;
  margin-bottom: 3px;
  padding: 0;
  width: 100%; }

#foo2 {
  display: block;
  background-color: #5353c3;
  background-image: linear-gradient(to left, black, #5353c3);
  text-align: center;
  color: seashell;
  margin-bottom: 3px;
  padding: 0; }

#foo2 img {
  width: 150px; }

a img {
  width: 40px;
  margin: 30px; }

#estamos {
  font-size: 35px; }

.copyright {
  font-size: 1.5em;
  padding: 30px; }

/* VIEWS */
main {
  max-width: 1080px;
  margin: 0 auto; }
  main .testimonios-seccion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; }
    main .testimonios-seccion div {
      width: 100%;
      height: 200px;
      background-size: cover; }
    main .testimonios-seccion .img1 {
      background-image: url("../public/img/chica3.jpg");
      margin-top: 40px;
      margin-bottom: 30px;
      text-align: justify; }
    main .testimonios-seccion .img2 {
      background-image: url("../public/img/chico1.jpg");
      margin-top: 40px;
      margin-bottom: 30px;
      text-align: justify; }
    main .testimonios-seccion .img3 {
      background-image: url("../public/img/chico2.jpg");
      margin-top: 40px;
      margin-bottom: 30px;
      text-align: justify; }

.testimonios-seccion2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; }
  .testimonios-seccion2 div {
    width: 100%;
    height: 200px;
    background-size: cover; }
  .testimonios-seccion2 .img4 {
    background-image: url("../public/img/mujer1.jpeg");
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: justify; }
  .testimonios-seccion2 .img5 {
    background-image: url("../public/img/hombremayor1.jpg");
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: justify; }
  .testimonios-seccion2 .img6 {
    background-image: url("../public/img/mujer2.jpg");
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: justify; }

p {
  margin-top: 10px;
  margin-bottom: 30px; }

.chart2 {
  grid-area: chart2; }

.chart3 {
  grid-area: chart3; }

.chart4 {
  grid-area: chart4; }

.chart5 {
  grid-area: chart5; }

.chart6 {
  grid-area: chart6; }

.chart7 {
  grid-area: chart7; }

.chart9 {
  grid-area: chart9; }

.chart10 {
  width: 100%;
  padding: 30px; }

.tituloPrincipal2 {
  grid-area: tituloPrincipal2; }

#bot {
  text-align: center;
  color: royalblue;
  font-size: 4em;
  margin-top: 40px;
  font-family: "Inter", sans-serif; }

.descripcion1 {
  margin-bottom: 30px;
  font-size: 15px;
  text-align: -webkit-center; }

.descripcion2 {
  margin-bottom: 70px;
  margin-top: 70px;
  font-size: 15px;
  text-align: -webkit-center; }

.descripcion3 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 70px;
  font-size: 30px; }

.descripcion4 {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 70px;
  font-size: 20px; }

.descripcion5 {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 70px;
  font-size: 20px; }

.descripcion6 {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 70px;
  font-size: 20px; }

#opiniones {
  font-size: 35px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: cornflowerblue; }

#opiniones2 {
  font-size: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px; }

#opiniones2 img {
  width: 5px; }

#testimonios {
  font-size: 2.4em; }

#testimonios img {
  width: 10px; }

#testimonios article {
  color: #5353c3; }

.bloque1 {
  align-items: center; }

#aprende {
  text-decoration: none;
  color: darkred;
  font-size: 40px;
  text-align: center;
  padding: 50px;
  margin-bottom: 60px; }

.video {
  max-width: 480px;
  margin-bottom: 10px; }

.enlace_curso {
  font-size: 20px;
  display: flex;
  text-align: center; }

.carousel {
  margin-bottom: 60px;
  margin-top: 50px; }

.header {
  width: 100%;
  height: 90px;
  position: static;
  z-index: 10;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10, 0px black;
  align-items: center; }

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  text-align: center; }

#gracias {
  color: white;
  background-image: linear-gradient(to right, #5353c3, black);
  padding: 0px;
  font-size: 50px; }

#contacto2 {
  position: static;
  box-sizing: content-box;
  content: 40px;
  align-self: center;
  text-align: justify;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  margin-bottom: 0px; }

#foo2 {
  display: block;
  background-image: linear-gradient(to right, #5353c3, black);
  text-align: center;
  color: seashell;
  margin-bottom: 20px; }

@media screen and (max-width: 768px) {
  .menu {
    font-size: .8em; } }
