#foo2 {
    display: block;
    background-color: rgb(83,83,195);
    background-image: linear-gradient(to left,black, #5353c3);
    text-align: center;
    color: seashell;
    margin-bottom: 3px;
    padding: 0;
}

#foo2 {
    display: block;
    background-color: rgb(83,83,195);
    background-image: linear-gradient(to left,black, #5353c3);
    text-align: center;
    color: seashell;
    margin-bottom: 3px;
    padding: 0;
    
}

#foo2 img{
    width: 50px;
}

a img{
    width: 40px;
    margin: 30px;
}

#estamos{
    font-size: 35px;
}

.copyright{
    font-size: 1.5em;
    padding: 30px;
}

@media screen and (max-width: 768px) {}