$principal: #5353c3;
$secondary: #FFFFFF;
$font-primary: "Inter", sans-serif;
$font-secondary: "Smooch", sans-serif;
$text-lg:2em;
$text-md:2.4em;
$bs-body-font-size: 1.5rem;

$images: (
  chica3:'chica3',
  chico1: 'chico1',
  chico2: 'chico2',
  mujer1: 'mujer1',
  hombremayor1: 'hombremayor1',
  mujer2: 'mujer2'
);

@each $images, $valor in $images {
    .img-#{$images} {
      width: 100%;
      height: 150px;
      background-size: cover;
      background-image: url('../public/img/img#{$images}.jpg');
    }
}

$paddings: (
    large: 3rem,
    medium: 2rem,
    small: 1rem
);

@each $var, $val in $paddings {
    .p-#{$var} {
      padding: #{$val}
  }
}

@media screen and (min-width:780px ) and (max-width: 1024px) {

}

@media screen and (min-width:480px ) and (max-width: 780px) {
  
}

@media screen and (max-width: 480px) {
  
}